{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container min-vh-100 d-flex align-items-center" style="flex-direction: column;">
    <h2>Reservation Confirmed</h2>
    <div class="confirmation-details">
        <!-- Display reservation details dynamically -->
        <ul>
            <li><strong>Name:</strong> {{ reservation.name }}</li>
            <li><strong>Phone Number:</strong> {{ reservation.phone_number }}</li>
            <li><strong>Number of Guests:</strong> {{ reservation.guests }}</li>
            <li><strong>Date:</strong> {{ reservation.date }}</li>
            <li><strong>Time:</strong> {{ reservation.time }}</li>
        </ul>
        <!-- Link to cancel the reservation, passing the reservation ID -->
        <a href="{% url 'cancellation' reservation.id %}" class="cancel">Cancel</a>
    </div>
</div>
{% endblock %}