{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>User Profile</h2>
<div class="container min-vh-100 d-flex align-items-center" style="flex-direction: column;">
    <!-- User Information Section -->
    <div class="user-info text-center mb-4 d-flex align-items-center" style="width: 40%;">
        <h2>Account Information</h2>
        <p>Email: {{ user.email }}</p>
        <p>Phone: {{ user.phone_number }}</p>
    </div>
    
    <!-- Booked Times Section -->
    <div class="booked-times text-center d-flex align-items-center" style="width: 40%;">
        <h2>Your Reservations</h2>
        <ul class="list-unstyled">
            {% for reservation in user.reservations.all %}
                <li class="mb-2">
                    {{ reservation.date }} - {{ reservation.time }} for {{ reservation.guests }} guests
                    <a href="{% url 'cancel_reservation' reservation.id %}" class="btn btn-danger btn-sm ml-2">Cancel</a>
                    <a href="{% url 'edit_reservation' reservation.id %}" class="btn btn-primary btn-sm ml-2">Edit</a>

                </li>
            {% empty %}
                <li>No reservations found.</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
